/* ======================================
   Responsive style for tablet 992px
========================================= */
@media screen and (max-width: 992px)  {

    .hero_area{
        padding: 30px 20px;        
    }
    nav ul{
        display: none !important;
    }
    nav .menubar{
        display: block;
      }
    .hero_input_area{
        grid-template-columns: repeat(2, 1fr);
    }
    .hero_area p {
        padding: 0 20px;
    }
    /* choose your detination  */
    .secton_title_area{
        padding: 0;
    }
    /* video area  */
    .videro_area_container{
        grid-template-columns: 1fr;
        text-align: center;
    }
}


/* ======================================
   Responsive style for tablet 600px
========================================= */
@media screen and (max-width: 600px)  {
    /* default  */
    h1 {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 800;
      }
      h2 {
        color: #131318;
        font-size: 1.3rem;
        font-weight: 800;
      }
      h3 {
        color: #131318;
        font-size: 1.3rem;
        font-weight: 800;
      }
      p {
        color: rgba(19, 19, 24, 0.7);
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 26px;
        margin: 16px 0;
      }
      section{
        margin: 24px 10px;
      }
      .primary_btn{
        margin: 24px 0;
      }
    .hero_input_area, 
    .grid_col_1,
    .card_container
    {
        grid-template-columns: 1fr;
    }

    .populer_tours, .grid_col_2, .grid_col_3{
        flex-direction: column;
        gap: 16px;
    }
    .tour_text_area, .tour_img_area, .single_card .card{
        width: 100%;
    }
    /* header area  */
    .nav_brand h1 {
        color: #131318;
        font-size: 1.3rem;
      }
      .nav_brand{
        gap: 10px;
      }
      .nav_brand img{
        width: 28.724px;
      }
      /* hero area  */
      .hero_area{
        padding: 15px 30px;        
    }
    .hero_input_area, .hero_input_area input, .hero_input_area select, .hero_input_area button {
        width: 100%;
    }
    .hero_area p{
        margin-bottom: 30px;
    }
    /* choose your detination  */
    .destination_img_caontainer{
        gap: 16px;
    }
}